<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>API's para Consultas</h4>
                <div class="icon">
                  <i class="fa fa-envelope-o fa-3x"></i>
                </div>
                <p>
                  Queremos saber quais dados financeiros você tem necessidade de consultar. Deixe seu pedido.
                </p>
              </div>
              <div class="box-bottom">
                <a href="#">Saiba Mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Consultas Específicas</h4>
                <div class="icon">
                  <i class="fa fa-edit fa-3x"></i>
                </div>
                <p>
                  Podemos constuir consultas específicas para sua necessidade. Entre em contato!
                </p>
              </div>
              <div class="box-bottom">
                <a href="#">Saiba Mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Blog</h4>
                <div class="icon">
                  <i class="fa fa-desktop fa-3x"></i>
                </div>
                <p>
                  Serviço em atualização constante, para atender ao mercado financeiro. Siga nosso blog.
                </p>
              </div>
              <div class="box-bottom">
                <a href="#">Saiba Mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="box">
              <div class="box-gray aligncenter">
                <h4>Dúvidas</h4>
                <div class="icon">
                  <i class="fa fa-question fa-3x"></i>
                </div>
                <p>
                  Para qualquer comentário, dúvida, pedido ou sugestão, entre em contato através de nosso e-mail.
                </p>
              </div>
              <div class="box-bottom">
                <a href="#">Entre em Contato</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- divider -->
    <div class="row">
      <div class="col-lg-12">
        <div class="solidline">
        </div>
      </div>
    </div>
    <!-- end divider -->
  </div>
</section>

