<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Entre em contato conosco</h5>
          <!-- <address>
            <strong>Datalivery</strong>
          </address> -->
          <p>
            <i class="icon-phone"></i>
            <i class="icon-envelope-alt"></i> datalivery@gmail.com
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Páginas</h5>
          <ul class="link-list">
            <li><%= link_to "Home", root_path %></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Últimos Posts</h5>
          <!--
          <ul class="link-list">
            <li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
          </ul>
          -->
        </div>
      </div>
      <div class="col-lg-3">
        <div class="widget">
          <h5 class="widgetheading">Bolsa de Valores pelo Mundo</h5>
          <div class="flickr_badge">
            <script type="text/javascript"
              src="http://www.flickr.com/badge_code_v2.gne?count=8&display=random&size=s&layout=x&source=all_tag&tag=bolsa,de,valores">
              </script>
            </div>
            <div class="clear">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="copyright">
              <p>
                <span>&copy; Datalivery 2015 All right reserved. By </span><a href="http://datalivery.herokuapp.com" target="_blank">Datalivery</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <ul class="social-network">
              <!-- <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              -->
              <li><a href="https://plus.google.com/107549401646714729043" data-placement="top" title="Google plus">
                  <i class="fa fa-google-plus">
                  </i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
